#contacts {
  width: 100%;
  height: 25em;
}

#status {
  color: green;
}

#btn_save,
#btn_export,
#btn_import {
  font-size: 2em;
  padding: 0.5em 1em;
}

#tblAppendGrid {
  width: 700px;

  & input {
    width: 500px;
  }
}
